<<<<<<< HEAD:assets/css/newRayStyle.css
.lefts { 
	text-align: left;
	padding-left: 2%;
}

.centers {
	text-align: center;
}

.rights {
	text-align: right;
	padding-right: 2%;
}

#row1news, #row1quote, #row1commute {
	padding-top: 1%;
}

#row4credit, #row4blank, #row4jcs {
	padding-bottom: 1%;
}

.bottoms {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

    	body {
		    background-repeat: no-repeat;
    background-size: 100% 100%;
    	}
=======
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #warnings-panel {
        width: 100%;
        height:10%;
        text-align: center;
      }

      .hi {
        width: 200px;
      }
>>>>>>> master:assets/css/style.css
