body {
	background-image: url(../images/ales-krivec-26310.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.lefts {
	text-align: left;
	padding-left: 2%;
}

.centers {
	text-align: center;
}

.rights {
	text-align: right;
	padding-right: 2%;
}

.news-power {
	text-align: right;
	font-size: 8px;
}

.collapse-box {
	border-radius: 25px;
	background-color: lightgrey;
	padding: 5%;
	margin-top: 3%;
}

.row-two {
	margin-top: 15%;
}

.news-article {
	font-size: 14px;
	text-align: right;
}

.news-source {
	font-size: 10px;
	text-align: right;
}

#row1news, #row1quote, #row1commute {
	padding-top: 1%;
}

#row4credit, #row4blank, #row4jcs {
	padding-bottom: 1%;
}

.bottoms {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#demo, .collapse-box {
	position: absolute;
	z-index: 999999;
	width: 80%;
}

#quote-here {
	font-family: lucida calligraphy;
	font-weight: bold;
	color: white;
	font-size: 18px;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#author-here {
	font-family: lucida sans;
	font-size: 14px;
	color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}